In [195]:
import requests
import json
import pandas as pd

In [122]:
categories = ['gyms', 'barbers']
businesses = []
for category in categories:
    offset = 0
    while offset < 500:
        url = 'https://api.yelp.com/v3/businesses/search'
        params = {'categories': category, 'limit':50, 'offset':offset, 'location': 'New York City', 'radius': 40000}
        api_key = '8E-l2ZKylxFuWLxaBx0ApW8cR9QM4JfhHRFR6wjN4-j6cfud4b0GQzQVn-Cs2ZL1bmccud-1ZfdgXlK1CH0S2JVpQ3bkDzzqIxJbScuXCfj_7vJ5DmtbxJ54dKaPXnYx'
        headers = {'Authorization': 'Bearer {}'.format(api_key)}
        request = requests.get(url, params=params, headers=headers)
        doc = json.loads(request.text)
        for num in range(0,50):
            businesses.append([category, doc['businesses'][num]['id'], doc['businesses'][num]['name']])
        offset += 50

In [174]:
business_urls = []
for business in businesses:
    business_urls.append([business[0], f'https://api.yelp.com/v3/businesses/{business[1]}/reviews'])
reviews = []

In [190]:
count = 559
for business_url in business_urls[count:]:
    business = business_url[0]
    url = business_url[1]
    api_key = '8E-l2ZKylxFuWLxaBx0ApW8cR9QM4JfhHRFR6wjN4-j6cfud4b0GQzQVn-Cs2ZL1bmccud-1ZfdgXlK1CH0S2JVpQ3bkDzzqIxJbScuXCfj_7vJ5DmtbxJ54dKaPXnYx'
    headers = {'Authorization': 'Bearer {}'.format(api_key)}
    request = requests.get(url, headers=headers)
    doc = json.loads(request.text)
    for review in doc['reviews']:
        reviews.append([business, review['text']])
    count += 1

In [196]:
df = pd.DataFrame(reviews, columns= ['Category', 'Review'])
df.head()

  Category                                             Review
0     gyms  I come to this location all the time and love ...
1     gyms  This place is definitely not meant for kids. I...
2     gyms  BKB Gowanus might share the same name as they'...
3     gyms  Have been coming here for about 6 months since...
4     gyms  Rowing itself is a great workout but I did not...

In [198]:
df.to_csv('yelp_reviews.csv', index=False)